<template>
  <b-card
    v-on:click="navigate" class="tile"
    :title="movie.title"
    :img-src="'https://image.tmdb.org/t/p/w200' + movie.poster_path"
    img-top
    tag="article"
    style="max-width: 20rem;"
  >
    <b-card-text>
    <p>Released on: {{movie.release_date}}</p>
    <p>Duration: {{movie.duration}} minutes</p>
    <p>My rating is: <b-badge variant="success"> {{movie.rating}}</b-badge></p>
    </b-card-text>
  </b-card>
</template>

<script>
export default {
  name: 'MovieTile',
  props: {
      movie: Object,
  },
  methods : {
    navigate() {
      this.$router.push(`/details/${this.movie.id}`)
    }
  }
}
</script>
<style scoped>
.tile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
</style>
