<template>
<b-container v-if="movie" :title="movie.id">
    <b-row>
        <b-col cols="12">
            <b-img loading="lazy" :src="'https://image.tmdb.org/t/p/w400' + movie.poster_path " fluid></b-img>
        </b-col>
    </b-row>
    <b-row>
        <b-col cols="12">
            <b-breadcrumb :items="navigation"></b-breadcrumb>
        </b-col>
    </b-row>
    <b-row >
        <b-col cols="12">
            <b-jumbotron v-if="movie">
                <h3>{{movie.title}}</h3>
                <p><b>Release Date</b>: {{movie.release_date}}</p>
                <p><b>Runtime:</b> {{movie.runtime}} minutes</p>
                <p><b>Genres:</b> {{(movie.genres || []).map(g=>g.name).join(', ')}}</p>
                <p> {{movie.overview}} </p>
            </b-jumbotron>
        <!-- <b-table striped hover :items="meta"></b-table> -->
        </b-col>
   </b-row>
</b-container>
</template>

<script>
import movieService from '../movie-service';
export default {
  name: 'MovieDetails',
  data: ()=>({
      movie: Object,
  }),
  computed: {
      meta() {
          return this.movie ? Object.keys(this.movie).filter(k => !k.includes('path')).map(k =>({ key: k, val: this.movie[k] })) : []
      },
      navigation() {
          return [
            {
                text: 'Movies',
                href: './'
            },
            {
              text: this.movie ? this.movie.title : 'Loading..',
              active: true
            }
          ];
      }
  },
  async created() {
      this.movie = await movieService.getMovie(this.$router.currentRoute.params.id)
      console.log(this.movie);
  }

}
</script>
<style scoped>
.poster {
    padding: 0;
    margin: 0;
}
</style>
