<template>
  <b-container v-if="movies" class="bv-example-row">
    <b-nav>
      <b-nav-item v-on:click="setGenre('*')">[ALL]</b-nav-item>
      <b-nav-item v-on:click="setGenre('Action')">[Action]</b-nav-item>
      <b-nav-item v-on:click="setGenre('Crime')">[Crime]</b-nav-item>
      <b-nav-item v-on:click="setGenre('Comedy')">[Comedy]</b-nav-item>
      <b-nav-item v-on:click="setGenre('Animation')">[Animation]</b-nav-item>
      <b-nav-item v-on:click="setGenre('Documentary')">[Documentary]</b-nav-item>
    </b-nav>
    <b-row>
      <b-col cols="6">
        <b-dropdown text="Sort results by">
            <b-dropdown-item
              v-for="sortVariant in sortVariants" 
              :key="sortVariant.value" 
              v-on:click="sort(sortVariant)">
                {{sortVariant.key}}
            </b-dropdown-item>
          </b-dropdown>
      </b-col>
      <b-col cols="6">
         <p>{{selectedSort || ''}}</p>
      </b-col>
    </b-row>
  <b-row >
    <b-col v-for="movie in movies" :key="movie.dynamo" sm="6" lg="3" xl="3"> <MovieTile  :movie="movie" > </MovieTile></b-col>
  </b-row>
</b-container>
 
</template>

<script>
import movieService from '../movie-service';
import MovieTile from './MovieTile';

export default {
  name: 'MovieList',
  data: () => ({ 
    filter: '', 
    movies: [],
    selectedSort: '',
    sortVariants: [
      { key: 'Release Date (desc)', value: 'release_date' },
      { key: 'My Rating (desc)', value: 'rating' },
      { key: 'Duration (asc)', value: 'duration' },
      { key: 'TMDB vote count (less popular first)', value: 'vote_count' },
      { key: 'TMDB vote avg (desc)', value: 'vote_count' },
      { key: 'Popularity (asc)', value: 'popularity' },
    ]
  }),
  components: {
    MovieTile
  },
  async created() {
    this.movies = await movieService.getAllMoviesFiltered()
  },
  methods: {
    async setGenre(filter){
      this.filter = filter;
      this.movies = await movieService.getAllMoviesFiltered(this.filter)
    },
    sort(criteria) {
      this.selectedSort = criteria.key;
      this.movies = this.movies.sort((a, b)=>{
        if (criteria === 'release_date') {
          const aDate = new Date(a.release_date);
          const bDate = new Date(b.release_date);
          return bDate - aDate;
        } else if (['duration', 'vote_count', 'popularity'].includes(criteria.value)) {
          return a[criteria.value] - b[criteria.value];
        } else {
          return b[criteria.value] - a[criteria.value];
        }
      })
    }
  }
}
</script>
<style scoped>

</style>
