<template>
  <section>
     <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="/">BOYS NIGHT MOVIES ({{total}})</b-navbar-brand>
     </b-navbar>

    <div>
       <router-view></router-view>
    </div>
  </section>
</template>

<script>
import movieService from './movie-service';

export default {
  name: 'App',
  data: () => ({
    total: 0
  }),
  components: {
  },
  async created() {
    this.total = (await movieService.getAllMoviesCount())
  }
}
</script>

<style>
html {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.85)
    ), url('assets/epe6p.jpg');
  background-size:contain;
}

header, menu {
  text-align: center;
  margin: auto;
}

menu {
  max-width: 600px;
  display: flex;
  justify-content:space-evenly;
  padding-bottom: 1em;
}

menu > * {
  width: 200px;
}

.logo {
  width: 120px;
}
</style>
